.player {
  height: 60px;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: lightgray;

  &__item {
    height: 100%;
    padding: 10px 0;

    &:hover {
      cursor: pointer;

      >span {
        >svg {
          color: #1890ff;
        }
      }
    }

    >span {
      margin: 10px 5px 0;

      >svg {
        color: rgba(0, 0, 0, 0.45);
        font-size: 25px;
      }
    }
  }

  &__trackName {
    margin-left: 10px;
  }
}


