.wrapper {
  height: 150px;
  padding-bottom: 10px;
}

.sound {
  height: 100%;
  width: 30px;
  margin: 0 15px 0 auto;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;

  > span {
    margin: 13px 0;
  }
}
